@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px lightgray;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;

    &__image {
      height: 12rem;
      width: 100%;
      object-fit: cover;
    }

    &__title {
      padding: 1rem;
    }

    &__description {
      padding: 0 1rem;
    }

    &__btn {
      padding: 1rem;
      font-family: inherit;
      font-weight: bold;
      font-size: 1rem;
      margin: 1rem;
      border: 2px solid darkred;
      background: transparent;
      color: darkred;
      border-radius: $radius;
      transition:background 200ms ease-in, color 200ms ease-in;
    }

    a {
      text-decoration: none !important;
      color: black;
    }

    &:hover {
      transform: scale(1.02);
    }

    &:hover &__btn{
      background: darkred;
      text-decoration-color: white;
      text-decoration: none;     
    }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.row-border{
  border-top: 2px solid gray;
  padding: 30px ;
  grid-column: 1 / 5; /* this code makes the row stretch to entire width of the container */
}

body-app {
  padding-top: 20px;
  padding-bottom: 20px;
}
